<mat-toolbar color="primary">
  <span>App Users</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">Inicio</button>
  <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
  <button mat-button routerLink="/dashboard/reportes">Reportes</button>
  <span class="spacer"></span>
  <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
